//------------------------------------------------------------------------------
// Icon links
//------------------------------------------------------------------------------


//
// Block
//

.icon-links {
  display: none;

  @include breakpoint($bp-lg) {
    display: inherit;
  }


  //
  // Element
  //

  &__item {
    + .icon-links__item {
      margin-left: 1.5rem;
    }
  }
}
